*{
    padding: 0;
    margin: 0;
}

img {

    height: 300px;
    display: inline-block;
}

.genres {
    color: red;
}


header {
    
    border-bottom: 1px solid #030308;
    padding: 2rem 0;
    text-align: center;
}

.feature {

padding: 20px;
text-align: center;
}

.feature, .catalog, .cta{
    text-align: center;
    
}

.cta-button {
    background-color: black;
    width: 6px;
    color: white;
    display: block;
    border-radius: 4rem;
    width: fit-content;
    padding: 0.9rem;
    margin: 2rem auto;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

}